<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 pic-div"></div>
  <div class="col-md-4 mt-5 choice">

      <a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
      <a href="/users/login" class="btn btn-primary btn-block mb-2">Login</a>
      <a href="/auth/login/facebook" class="btn btn-primary  btn-block mb-2">Social Login </a>
      <p class="text-center mt-3">
      <i class='fa fa-facebook social'></i>
      <i class='fa fa-twitter social'></i>
      <i class='fa fa-google social'></i>
      <i class='fa fa-instagram social'></i>
      <i class='fa fa-snapchat social'></i>
      </p>
      </div>
    <div class="col-md-4 pic-div"></div>
  </div>
  </div> <!-- end of container -->
